<h1>Add Category</h1>
<p>
<form class="was-validated" method="post">
    <card>
        <div class="card-body">
            <div class="mb-3">
                <p>Field: <h5>{{field.FIELDNAME}}</h5></p>
                <label for="CATENAME">Category Name</label>
                <input type="text" class="form-control is-invalid" id="CATENAME" name="CATENAME"
                    placeholder="Enter category name" required></input>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </card>
</form>
</p>